.grounding {
    padding: 0 0.4rem;
    background-color: #fff;
    .bot {
        padding: 0.2rem 0;
        display: flex;
        .leftt {
            img {
                width: 0.9rem;
                height: 0.9rem;
                margin-right: 0.15rem;
            }
        }
        .centerr {
            flex: 1;
            display: flex;
            flex-flow: wrap;
            flex-direction: column;
            text-align: left;
            .topp {
                text-align: left;
                .com {
                    display: inline-block;
                    vertical-align: middle;
                    width: 1.8rem;
                    height: 0.42rem; // text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-family: PingFangSC-Regular;
                    color: rgba(79, 80, 84, 1);
                    line-height: 0.42rem; // padding-right: 0.15rem;
                    font-size: 0.3rem;
                }
                .num {
                    color: #9e9fa1;
                    font-size: 0.26rem;
                }
            }
            .bott {
                width: 4.2rem;
                height: 0.37rem;
                font-size: 0.26rem;
                font-family: PingFangSC-Regular;
                color: rgba(158, 159, 161, 1);
                line-height: 0.37rem;
                .kill_time {
                    color: #ff6d00;
                }
                .kucun {
                    color: #ff6d00;
                }
            }
        }
        .rightt {
            padding: 0.095rem 0;
            position: relative;
            .goGround {
                display: inline-block;
                vertical-align: middle;
                border: 0.01rem solid #42bd56 !important;
                color: #42bd56;
                width: 1.2rem;
                height: 0.58rem;
                background: rgba(225, 243, 226, 1);
                border-radius: 0.05rem;
                line-height: 0.58rem;
                // margin-bottom:0.05rem;
                text-align: center;
                border-radius: 0.05rem;
            }
        }
    }
}