.grounding {
  padding: 0 0.4rem;
  background-color: #fff;
}
.grounding .bot {
  padding: 0.2rem 0;
  display: flex;
}
.grounding .bot .leftt img {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.15rem;
}
.grounding .bot .centerr {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  text-align: left;
}
.grounding .bot .centerr .topp {
  text-align: left;
}
.grounding .bot .centerr .topp .com {
  display: inline-block;
  vertical-align: middle;
  width: 1.8rem;
  height: 0.42rem;
  overflow: hidden;
  white-space: nowrap;
  font-family: PingFangSC-Regular;
  color: #4f5054;
  line-height: 0.42rem;
  font-size: 0.3rem;
}
.grounding .bot .centerr .topp .num {
  color: #9e9fa1;
  font-size: 0.26rem;
}
.grounding .bot .centerr .bott {
  width: 4.2rem;
  height: 0.37rem;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular;
  color: #9e9fa1;
  line-height: 0.37rem;
}
.grounding .bot .centerr .bott .kill_time {
  color: #ff6d00;
}
.grounding .bot .centerr .bott .kucun {
  color: #ff6d00;
}
.grounding .bot .rightt {
  padding: 0.095rem 0;
  position: relative;
}
.grounding .bot .rightt .goGround {
  display: inline-block;
  vertical-align: middle;
  border: 0.02rem solid #42bd56 !important;
  color: #42bd56;
  width: 1.2rem;
  height: 0.58rem;
  background: #e1f3e2;
  line-height: 0.58rem;
  text-align: center;
  border-radius: 0.05rem;
}
